@import "~bootstrap/scss/bootstrap.scss";

#anchogeneral{
    width: 500px;
}
#anchoizquierdo{
    width: 400px;
}
#anchoderecho{
    width: 70px;
}
#title{
    font-family: 'Bungee', cursive;
}
#text{
    font-family: 'Gochi Hand', cursive;
}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
